#banner{
    background-color: #18FFA4;
    height: 50px;
    
}
#left{
    background-color: #AEFFCF;
    height: 550px;
    width: 30%;
    float: left; 
}
#center{
    background-color: #DDFFCD;
    height: 550px;
    width: 40%;
    float: left;
    
}
#right{
    background-color: #AEFFCF;
    height: 550px;
    width: 30%;
    float: left;
    
}
#footer{
    background-color: #18ffa4;
    height: 50px;
    text-align: center;
    clear: both;
}
ul{
    margin-left: 100px;
    
}
img{
    margin: 100px;
}
form{
    margin-left: 150px;
}
h4{
    margin-left: 100px;
}
h2{text-align: center;
    
}
h3{
    text-align: center;
}